<form  action="{% url 'updateField' list.id %}" method="POST">
{% csrf_token %}
<div class="form-row">
    <div class="col form-group">
      <label for="">Title:</label>
      <input type="text" name="Title" class="form-control" value="{{list.titel}}">
     </div>
    <div class="col form-group">

      <label for="">Note:</label>
      <input type="text" name="Note" class="form-control" value="{{list.note}}">
     </div>
  </div>
  <button type="submit" name="submit" class="btn btn-primary btn-block" >Update</button>
 </form>
